name: just_waveform
description: Extracts waveform data from an audio file suitable for visually rendering the waveform.
version: 0.0.2
homepage: https://github.com/ryanheise/just_waveform

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  path: ^1.8.0
  path_provider: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.ryanheise.just_waveform
        pluginClass: JustWaveformPlugin
      ios:
        pluginClass: JustWaveformPlugin
      macos:
        pluginClass: JustWaveformPlugin
